<mat-tab-group mat-align-tabs="start">
    <mat-tab class="previous" label="Anteriores">
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
            <div class="lives-previous" style="margin: 0.5%;">
                <mat-card class="cards-lives-previous" fxFlex="0 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% -11px)"
                    fxFlex.lt-sm="100%">
                    <mat-card-header>

                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt eveniet corporis facilis
                            ullam nam nulla quae sunt possimus, officia debitis dolorum optio quisquam tenetur,
                            recusandae quis, architecto nostrum odio magni.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab class="next" label="Próximas">Next</mat-tab>
</mat-tab-group>